		/* Reset CSS
		 * --------------------------------------- */
		body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
		form,fieldset,input,textarea,p,blockquote,th,td {
		    padding: 0;
		    margin: 0;
		}
		a{
			text-decoration:none;
		}
		table {
		    border-spacing: 0;
		}
		fieldset,img {
		    border: 0;
		}
		address,caption,cite,code,dfn,em,strong,th,var {
		    font-weight: normal;
		    font-style: normal;
		}
		strong{
			font-weight: bold;
		}
		ol,ul {
		    list-style: none;
		    margin:0;
		    padding:0;
		}
		caption,th {
		    text-align: left;

		}
		h1,h2,h3,h4,h5,h6 {
		    font-weight: normal;
		    font-size: 100%;
		    margin:0;
		    padding:0;
		    color:#444;
		}
		q:before,q:after {
		    content:'';
		}
		abbr,acronym { border: 0;
		}


		/* Custom CSS
		 * --------------------------------------- */
		body{
			font-family: arial,helvetica;
			color: #F2F2F2;
		}
		h1{
			font-size: 6em;
		}
		p{
			font-size: 2em;
		}
		.content{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}
        
        #video-background1 {
            /*  making the video fullscreen  */
            position: fixed;
            right: 0; 
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            width: auto; 
            height: auto;
            z-index: -100;
        }
         #section2 video {
             /*  making the video fullscreen  */
             position: absolute;
             right: 0; 
             bottom: 0;
             min-width: 100%; 
             min-height: 100%;
             width: auto; 
             height: auto;
             z-index: -100;
            }
		/* Section 1
		 * --------------------------------------- */
        
        
		#section0{
			background-color: ;
		}
		#section0 h1{
			color: #f2f2f2;
            font-size: 10em;
            font-weight: bold;
		}
        .presents{
            font-size: 25px;
            font-style: italic;
        }
		.sub-header{
			color: #f2f2f2;
            font-size: 60px;
            font-weight: thin;
			
		}
        #section0 button {
            border: #f2f2f2;
            border-width: thin;
            border-style: solid;
            background-color: transparent;
            color: aliceblue;
            font-weight: thin;
            padding: 10px 35px;
            margin-top: 30px;
            
        }
        .indicator {
            padding: 20px 0px 0px 0px;
            opacity: 0.4;
            font-size: 18px;
            margin-top: 100px;
        }


		/* Section 2
		 * --------------------------------------- */

        #slide1 {
            background-image: url(../images/j-cole.jpg);
            background-size: 80%;
        }
        #slide2 {
            background-image: url(../images/album%20back.jpg);
            background-size: cover;
        }
        #slide3 {
            background-image: url(../images/album.jpg);
            background-size: contain;
        }
		#section1{
			background-color: ;
            
		}
		#section1 h1{
			color: #efefef;
            font-size: 76px;
		}
		.about0{
			font-size: 25px;
            margin-top: 50px;
            padding: 0px 200px;
            align-content: center;
		}
        


		/* Section 3
		 * --------------------------------------- */
		#section2{
			background-color: ;
		}
		#section2 h1{
			color: #efefef;
            font-size: 76px;
		}
        #slide2 h1 {
            font-style: italic;
        }
        iframe {
            width: 70%;
            align-content: center;
        }
        #slide3 h1 {
            font-size: 50px;
            font-weight: bold;
        }
        #slide3 p {
            color: #939393;
        }
        #slide2 img {
            width: 50%;
        }
        #section2 button {
            border: #f2f2f2;
            border-width: thin;
            border-style: solid;
            background-color: transparent;
            color: aliceblue;
            font-weight: thin;
            padding: 10px 35px;
            margin-top: 30px;   
        }
        #section2 input {
            border: #000000;
            border-width: thin;
            border-style: solid;
            background-color: transparent;
            color: #000000;
            font-weight: thin;
            padding: 10px 35px;
            margin: 30px 10px;
        }








        








